---
import { Icon } from "astro-icon";
import Layout from "../layouts/Layout.astro";
import TechStack from "../components/TechStack.astro";
import logo from "../assets/alh-logo-light.png";
---

<Layout title="Home | Andre L. Hammons">
  <div class="page-container">
    <section class="page" id="page1">
      <div class="card">
        <div>
          <h1 id="greeting">ALOHA! 👋🏾</h1>
          <h1 id="intro">I'M <span class="gradient">ANDRE HAMMONS</span></h1>
          <h3>AND I'M A <span class="accent">DEVELOPER</span>.</h3>
        </div>
        <div class="brand">
          <!-- <img src={logo} alt="brand logo" /> -->
        </div>
      </div>
      <div id="scroll-down">
        <p>Follow me!</p>
        <Icon pack="ic" name="twotone-keyboard-double-arrow-down" />
      </div>
    </section>

    <section class="page" id="page2">
      <div class="card" id="about-me">
        <h1>JUST A BIT <span class="gradient">ABOUT ME</span></h1>
        <p>
          I finally discovered my passion for coding after eight years in the
          Navy.
        </p>
        <p>
          I'm a life-long learner always ready to apply my skills to a career in
          tech!
        </p>
        <p id="go-to-history">
          <a href="/history">Would you like to know more? &rarr;</a>
        </p>
      </div>
    </section>

    <section class="page" id="page3">
      <div class="card" id="tech-skills">
        <h1>LET'S TALK <span class="gradient">TECH</span></h1>
        <div id="tech">
          <div>
            <h3>Languages I have learned:</h3>
            <TechStack techList={["html", "css", "js", "ts", "python"]} />
          </div>
          <div>
            <h3>Tools I have worked with:</h3>
            <TechStack techList={["node", "vue", "astro", "nuxt", "vscode"]} />
          </div>
        </div>
        <p id="go-to-projects">
          <a href="/projects">Come see what I've built! &rarr;</a>
        </p>
      </div>
    </section>

    <section class="page" id="page4">
      <div class="card" id="connect">
        <h1><span class="gradient">CONNECT</span> WITH ME</h1>
        <h3>AND WE CAN MAKE SOMETHING AWESOME! 🤙🏾</h3>
        <div id="resume" class="link">
          <a
            href="https://drive.google.com/file/d/1HVtrGQCjOr-E3pN29t0DwPgZtkdcnX_M/view?usp=sharing"
          >
            <span><Icon pack="mdi" name="resume" /></span>
            <p>Download my resume &rarr;</p>
          </a>
        </div>
        <div id="contact">
          <a href="mailto:hammons.dev@gmail.com" target="_blank">
            <span>
              <Icon pack="mdi" name="gmail" />
            </span>
          </a>
          <a href="https://www.linkedin.com/in/mynameisandre" target="_blank">
            <span>
              <Icon pack="mdi" name="linkedin" />
            </span>
          </a>
          <a href="https://www.discord.com/" target="_blank">
            <span>
              <Icon pack="mdi" name="discord" />
            </span>
          </a>
        </div>
      </div>
    </section>
  </div>
</Layout>
<style>
  :global(header) {
    display: none;

    @media (width >= 680px) {
      display: block;
    }
  }

  .page-container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
  }

  .page {
    scroll-snap-align: center end;
    width: 100vw;
    height: 100vh;
    overflow: clip;
    /* box-shadow: inset 0 0 0 0.5rem white; */

    color: var(--color1);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    z-index: 0;

    & img {
      max-width: 50px;
    }

    & h1 {
      font-weight: 800;
      font-size: 44px;
    }

    & span.gradient {
      background: var(--gradient);
      background-clip: text;
      color: transparent;
    }

    & span.accent {
      color: var(--accent1);
    }

    & p {
      font-size: 20px;
      letter-spacing: 0.2rem;
    }
  }

  #scroll-down {
    width: 100vw;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    animation: zoom 2s linear alternate infinite;

    & > [astro-icon] {
      max-width: 50px;
      color: var(--accent3);
    }
  }

  @keyframes zoom {
    from {
      transform: translate3d(0, -5%, 0) scale(1);
    }
    to {
      transform: translate3d(0, 0, 0) scale(0.9);
    }
  }

  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;

    & > * {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      text-align: center;
      margin: 1rem;
    }

    & h3 {
      letter-spacing: 0.1rem;
      margin-bottom: 0.5rem;
    }

    & a {
      margin-top: 3rem;
      text-decoration: none;
      color: var(--accent3);

      &:hover {
        color: var(--accent1);
        translate: 0 -10%;
      }
    }
  }

  #about-me p {
    max-width: 50ch;
    line-height: 1.5;
  }

  #tech {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    @media (width >= 680px) {
      flex-direction: row;
      gap: 5rem;
    }
  }

  #contact {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  a > * {
    display: inline;
    padding: 0.25rem;
    vertical-align: middle;
  }

  [astro-icon] {
    width: 40px;
  }
</style>
