---
import { Icon } from "astro-icon";
---

<div id="color-toggle">
  <div id="dark-mode">
    <Icon pack="ri" name="moon-clear-fill" />
  </div>
  <div id="light-mode">
    <Icon pack="ph" name="sun-dim-bold" />
  </div>
</div>

<script>
  function setDarkMode() {
    document.body.classList.remove("light-mode");
    document.body.classList.add("dark-mode");
    localStorage.setItem("color-scheme", "dark");
  }

  function setLightMode() {
    document.body.classList.remove("dark-mode");
    document.body.classList.add("light-mode");
    localStorage.setItem("color-scheme", "light");
  }

  function checkColorPref() {
    let colorPref = localStorage.getItem("color-scheme");
    if (colorPref === null) {
      setColorPref();
      return;
    }
    colorPref === "dark" ? setDarkMode() : setLightMode();
  }

  function setColorPref() {
    window?.matchMedia("(prefers-color-scheme: light)").matches
      ? setLightMode()
      : setDarkMode();
  }

  document.getElementById("dark-mode")?.addEventListener("click", setDarkMode);

  document
    .getElementById("light-mode")
    ?.addEventListener("click", setLightMode);

  document.addEventListener("DOMContentLoaded", checkColorPref);
</script>

<style>
  body {
    /* transition: all .5s; */
    
    &.dark-mode {
      & #dark-mode {
        opacity: 0.1;
        transition: all 1s;
        pointer-events: none;
      }
      & #light-mode {
        transition: opacity 1s;
      }
    }
    &.light-mode {
      & #light-mode {
        opacity: 0.1;
        transition: all 1s;
        pointer-events: none;
      }
  
      & #dark-mode {
        transition: opacity 1s;
      }
    }
  }
  
  
  

  #color-toggle {
    margin: 5em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    color: var(--color1);
    background-color: var(--accent2);
    padding: 0.25rem;
    border-radius: 0 0.2rem 0.2rem 0;
    z-index: 5;
  }

  [astro-icon] {
    width: 25px;
    cursor: pointer;

    &:hover {
      color: var(--color2);
    }
  }
</style>
