---
import { Icon } from "astro-icon";
import Nav from "./Nav.astro";
---

<div id="header-wrapper">
  <a href="/" target="_self">
    <div class="brand"></div>
  </a>
  <h1>Andre <span id="mi">L</span> Hammons</h1>
  <!-- Hide for desktop site -->
  <div id="header-nav">
    <Nav />
    <a href="/#connect" target="_self" id="go-to-connect">
      <p>Connect</p>
      <span>
        <Icon pack="ic" name="baseline-contact-page" />
      </span>
    </a>
  </div>
</div>

<style>
  h1 {
    margin-left: 0.5em;
    font-size: clamp(18px, 2svw, 24px);
    letter-spacing: 0.2em;
    text-transform: uppercase;
    white-space: nowrap;
    background: var(--gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    position: relative;

    /* sub-title/tag-line */
    &::after {
      content: "Developer";
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      color: var(--accent3);
      text-align: right;
      font-weight: 300;
      font-size: clamp(12px, 1.5svw, 18px);
      letter-spacing: 0.1em;
      border-top: 0.05rem solid var(--color1);
      margin-top: 0.25em;
      padding: 0.25em 0;
    }
  }

  #mi {
    color: var(--color1);
    font-weight: 300;
  }

  #header-wrapper {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em 1em;
    color: var(--color1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;

    & .brand {
      width: 30px;
    }
  }

  #header-nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-left: 5em;
    @media (orientation: portrait) or (width < 800px) {
      display: none;
    }
  }

  img {
    width: 30px;
    border-radius: 50%;
    float: left;
  }

  a#go-to-connect {
    float: right;
    background: var(--accent3);
    color: var(--color2);
    padding: 0.25em 0.5em;
    border-radius: 0.25rem;

    & > * {
      display: inline;
      vertical-align: middle;
    }

    &:hover {
      background: var(--accent1);
      color: var(--color1);
    }
  }
  [astro-icon] {
    width: 25px;
  }
</style>
