---
import Nav from "./Nav.astro";
import MenuButton from "./MenuButton.astro";
import Social from "./Social.astro";
---

<div id="sidebar" class="">
  <div id="sidebar-toggle">
    <MenuButton />
  </div>
  <nav id="sidebar-nav">
    <Nav />
  </nav>
  <nav id="social-nav">
    <Social orientation="portrait" iconOnly={false} />
  </nav>
</div>

<script>
  const menu = document.getElementById("sidebar");
  const menuBtn = document.getElementById("sidebar-toggle");
  // @ts-ignore
  const lists: HTMLElement[] = [...menu?.getElementsByTagName("li")];

  function toggleSidebar() {
    menu?.classList.toggle("menu-open");
    lists.forEach((li) => li.classList.toggle("menu-open"));
    document
      .getElementById("content-wrapper")
      ?.classList.toggle("show-sidebar");
  }

  menuBtn?.addEventListener("click", toggleSidebar);
</script>

<style>
  #sidebar {
    width: var(--sidebar-width);
    height: 100dvh;
    display: none;
    background-color: var(--accent2);
    position: fixed;
    top: 0;
    right: calc(0% - var(--sidebar-width));
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
    z-index: 5;

  }
  
  #sidebar-toggle {
    position: absolute;
    right: 100%;
    top: 0;
    margin: 1em;
    opacity: 0.7;
    transform: translate3d(100%, 0, 0);
  }
  
  @media (orientation: portrait) or (width < 800px) {
    #sidebar {
      display: block;
      animation: slideToRight 0.5s;
    }
    
    #sidebar-toggle {
      transform: none;
    }
  }

  #sidebar-nav {
    color: var(--color1);
  }

  #social-nav {
    position: absolute;
    width: 100%;
    bottom: 5rem;
    left: -35px;
    background-color: inherit;
    border-radius: 0.2rem;
  }

  .menu-open {
    transform: translate3d(-100%, 0, 0);
  }

  @keyframes slideToRight {
    from {
      transform: translate3d(-100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }
</style>
