---
export interface Props {
  orientation?: "portrait" | "landscape";
  iconOnly: boolean;
}

import { Icon } from "astro-icon";

const { orientation, iconOnly = true } = Astro.props;

const socialLinks = [
  {
    title: "Download resume",
    iconPack: "mdi",
    iconName: "resume",
    url: "https://drive.google.com/file/d/1HVtrGQCjOr-E3pN29t0DwPgZtkdcnX_M/view?usp=sharing",
  },
  {
    title: "hammons.dev@gmail.com",
    iconPack: "mdi",
    iconName: "gmail",
    url: "mailto:hammons.dev@gmail.com",
  },
  {
    title: "/mynameisandre",
    iconPack: "mdi",
    iconName: "linkedin",
    url: "https://www.linkedin.com/in/mynameisandre",
  },
  {
    title: "hamsammich#2449",
    iconPack: "mdi",
    iconName: "discord",
    url: "https://www.discord.com",
  },
  {
    title: "/ahamsammich",
    iconPack: "mdi",
    iconName: "github",
    url: "https://www.github.com/ahamsammich",
  },
];
---

<ul class={orientation ? orientation : "portrait"}>
  <Fragment>
    {
      socialLinks.map((link) => (
        <li>
          <a href={link.url} target="_blank">
            <p>
              <span>
                <Icon pack={link.iconPack} name={link.iconName} />
              </span>
              {!iconOnly && link.title}
            </p>
          </a>
        </li>
      ))
    }
  </Fragment>
</ul>

<style>
  ul {
    display: flex;
    list-style: none;

    &.portrait {
      flex-direction: column;
    }

    & a {
      text-decoration: none;
      color: inherit;
    }
  }

  li {
    --offset-x: -30px;
    padding: 0.25em;
    background-color: inherit;
    width: calc(100% - var(--offset-x) * 2);
    font-size: 0.8rem;
    white-space: nowrap;
    border-radius: 0.2rem;
    transition: transform 0.1s;

    &:hover {
      background-color: var(--accent1);
      text-align: center;
      transform: translate3d(-85%, 0, 0);
      transition: transform 0.5s 0.2s;

      &.menu-open {
        transform: translate3d(var(--offset-x), 0, 0);
        text-align: left;
      }

      @media (prefers-color-scheme: light) {
        color: var(--color2);
      }
    }

    & [astro-icon] {
      max-width: 25px;
      margin-right: 0.8em;
      vertical-align: middle;
    }
  }
</style>
