---
export interface Props {
  title: string;
}

import StarrySky from "../components/StarrySky.vue";
import Sidebar from "../components/Sidebar.astro";
import Header from "../components/Header.astro";
import DarkModeToggle from "../components/DarkModeToggle.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" initial-scale="1.0" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <!-- OpenGraph -->
    <meta property="og:sitename" content="Andre L. Hammons" />
    <meta property="og:title" content="Andre L. Hammons" />
    <meta property="og:url" content="https://www.ahammons.me" />
    <meta property="og:type" content="website" />
    <meta
      property="og:description"
      content="Andre L. Hammons is a developer based in Las Vegas, NV."
    />
    
    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Andre L. Hammons" />
    <meta name="twitter:url" content="https://www.ahammons.me" />
    <meta name="twitter:image" content="https://assets.codepen.io/8543383/portfolio-connect.png" />
    <meta
      property="twitter:description"
      content="Andre L. Hammons is a developer based in Las Vegas, NV."
    />

    <meta
      name="description"
      content="Andre L. Hammons is a developer based in Las Vegas, NV."
    />
    <title>{title}</title>
  </head>
  <body>
    <StarrySky height={1000} width={1000} />
    <header>
      <Header />
    </header>
    <div id="content-wrapper">
      <div id="main-wrapper">
        <slot />
      </div>
      <footer>
        <p>Andre L. Hammons | 2023</p>
      </footer>
    </div>
    <DarkModeToggle />
    <aside>
      <Sidebar />
    </aside>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  :root {
    --color1: hsl(0, 0%, 95%);
    --color2: hsl(0, 0%, 13%);
    --color2a: hsla(0, 0%, 13%, 0.7);
    --accent1: hsl(147, 50%, 60%);
    --accent2: hsl(147, 45%, 45%);
    --accent3: hsl(147, 20%, 80%);
    --gradient: linear-gradient(
      45deg,
      var(--accent2) 0%,
      var(--accent1) 35%,
      var(--accent3) 100%
    );
    --sidebar-width: clamp(200px, 50%, 400px);
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
      width: 0.3rem;
      height: 0;
      background-color: var(--color2);
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--accent3);
    }
  }

  .brand {
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-size: contain;
    background-image: url(/alh-logo-web.png);
  }
  
  body {
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--color2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Rubik, Verdana, Geneva, Tahoma, sans-serif;
    
    &::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      height: 100px;
      width: 100%;
      background: linear-gradient(
        180deg,
        var(--color2) 40%,
        var(--color2a) 75%,
        transparent
      );
      animation: fadeIn 0.5s;
    }
  }

  body.light-mode {
    --color1: hsl(0, 0%, 13%);
    --color2: #EAEAE0;
    --color2a: #EAEAE099;
    --accent1: #1DC690;
    --accent2: #278AB0;
    --accent3: #1C4670;
    --gradient: linear-gradient(
      45deg,
      var(--accent3) 0%,
      var(--accent2) 35%,
      var(--accent1) 100%
    );

    & .brand {
      background-image: url(/alh-logo-web-dark.png);
    }
  }

  header {
    z-index: 4;
  }

  footer {
    position: absolute;
    max-width: 90%;
    margin: 0 auto;
    padding: 1em 0;
    color: var(--color1);
    text-align: center;
    font-size: small;
    letter-spacing: 0.2em;
    bottom: 0;
  }

  h2 {
    letter-spacing: 0.1em;

    &::after {
      content: "";
      display: block;
      margin: 0.2em 0;
      background: var(--gradient);
      height: 0.2rem;
      width: 100%;
      border-radius: 0.1em;
    }
  }

  #content-wrapper {
    width: clamp(320px, 100vw, 1200px);
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    transition: transform 0.3s ease-in-out;
    animation: slideToRight 0.5s;

    &.show-sidebar {
      @media (width < 1000px) {
        transform: translate(calc(-1 * var(--sidebar-width)), 0);
      }
    }
  }

  #main-wrapper {
    animation: fadeIn 1s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes slideFromRight {
    from {
      transform: translate3d(100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes slideToRight {
    from {
      transform: translate3d(-100%, 0, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  [astro-icon] {
    width: clamp(20px, inherit, 80px);
  }
</style>
